.big-text, .space-big-text{
	padding: 3px 8px;
	font-size: 1.7em;
	line-height: 100%;
	height: 1.7em;
	width: 100%;
	outline: 0;
	margin-bottom: 20px;
}

.space-textarea{
	width: 100%;
	padding: 3px 8px;
}


.space-rules-box{
	margin-top: 20px;
	margin-bottom: 20px;
}


.space-choice-item, .space-question-item, .space-page-item, .space-rule-item{
	border: #ccc solid 1px;
	background: #fff;
	padding: 10px;
	margin-bottom: 10px;
	position: relative;
}

.space-rule-item{
	background: #fcfcfc;
	padding: 20px;
}

.space-page-item, .space-question-item{
	padding-bottom: 0;
}

.space-question-item input[type=text].ui-autocomplete-input{
	width: 90%;
	border: none;
	outline: none;
	box-shadow: none;
	
}

.space-rule-item [data-behaviour~=space-autocomplete]{
	margin-bottom: 10px;
}

.space-rule-item .space-rule-grid{
	display: grid;
	grid-template-columns: 200px 1fr 200px;
	grid-gap: 20px;
}

.space-rule-item .space-rule-grid select{
	width: 100%;
}

.space-question-item .space-rule-item [data-behaviour~=space-autocomplete] input[type=text].ui-autocomplete-input{
	border: #ccc solid 1px;
	background: #fff;
	width: 100%;
}

textarea[data-behaviour~=space-autoresize]{
	border: none;
	overflow: hidden;
    padding: 0;
    outline: 0;
	width: 100%;
	box-shadow: none;
}

.space-close-btn, .space-collapse{
	right		: 10px;
	position	: absolute;
	cursor		: pointer;
	padding		: 0;
	line-height	: 1;
	border		: none;
	background	: none;
	outline		: none;
}

.space-page-item .space-close-btn, .space-question-item .space-close-btn{
	top: auto;
	bottom: 10px;
	color: red;
	font-size: inherit;
	text-decoration: underline;
}

.space-choice-item .space-close-btn, .space-rule-item .space-close-btn{
	top: 5px;
	bottom: auto;
	font-size	: 30px;
	color: inherit;
	text-decoration: none;
}

.space-collapse::before{
	content: "\f140";
	font: 400 20px/1 dashicons;
	speak: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

.form_page_desc{
	margin: 10px 0px;
    width: 100%;
    padding: 10px 6px;
}



.list-header{
	border-bottom: #ddd solid 1px;
	margin: -10px -10px 0px -10px;
	padding: 10px;
	padding-right: 40px;
	min-height: 20px;
}

.list-content{
	margin-top: 10px;
	margin-bottom: 15px;
	padding-left: 10px;
	min-height: 20px;
}

.space-page-item .wp-editor-wrap{
	margin-bottom: 30px;
}
	
/* MODAL BOXES *
.space-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
}

.space-backdrop{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.space-modal-content{
	top: 10%;
	margin: 0 auto;
	position: relative;
	width: 70%;
	min-width: 300px;
	height: 60%;
	background: #fff;
	padding: 30px;
	overflow-y: scroll;
}

.space-modal-form{
	padding-top: 20px;
}
*/

.space-dropdown{
	margin-bottom: 10px;
}
.space-dropdown label{
	display: block;
}

/*
* META BOX FOR SURVEY TO LIST PAGES
*/
#survey-pages.postbox{
	background: transparent;
	border: none;
	box-shadow: none;
	
}
#survey-pages.postbox, #survey-pages.postbox .inside{
	padding: 0;
	margin: 0;
}
#survey-pages.postbox h2.hndle.ui-sortable-handle,
#survey-pages.postbox button.handlediv{
	display: none;
}