.space-one{
	margin-top: 20px;
}
.top-decoration{
	border-top: #bbb solid 1px;
}
.bottom-decoration{
	padding-bottom: 20px;
	border-bottom: #bbb solid 1px;
}

.big-text, .space-big-text{
	padding: 3px 8px;
	font-size: 1.7em;
	line-height: 100%;
	height: 1.7em;
	width: 100%;
	outline: 0;
	margin-bottom: 20px;
}

.space-textarea{
	width: 100%;
	padding: 3px 8px;
}


.space-rules-box{
	margin-top: 20px;
	margin-bottom: 20px;
}


.space-choice-item, .space-question-item, .space-page-item, .space-rule-item, .space-filter-item{
	border: #ccc solid 1px;
	background: #fff;
	padding: 10px;
	margin-bottom: 10px;
	position: relative;
}

.space-rule-item{
	background: #fcfcfc;
	padding: 20px;
}

.space-page-item, .space-question-item{
	padding-bottom: 0;
}

.space-question-item input[type=text].ui-autocomplete-input{
	width: 90%;
	border: none;
	outline: none;
	box-shadow: none;

}

.space-rule-item [data-behaviour~=space-autocomplete]{
	margin-bottom: 10px;
}

.space-rule-item .space-rule-grid{
	display: grid;
	grid-template-columns: 1fr 150px;
	grid-gap: 20px;
}

.space-rule-item .space-rule-grid select{
	width: 100%;
}

.space-question-item .space-rule-item [data-behaviour~=space-autocomplete] input[type=text].ui-autocomplete-input{
	border: #ccc solid 1px;
	background: #fff;
	width: 100%;
}

#space-filters{
	max-width: 500px;
}

textarea[data-behaviour~=space-autoresize]{
	border: none;
	overflow: hidden;
    padding: 0;
    outline: 0;
	width: 100%;
	box-shadow: none;
}

.space-close-btn, .space-collapse{
	right		: 10px;
	position	: absolute;
	cursor		: pointer;
	padding		: 0;
	line-height	: 1;
	border		: none;
	background	: none;
	outline		: none;
}

/* CLOSE BUTTONS */
.space-page-item .space-close-btn, .space-question-item .space-close-btn{
	top: auto;
	bottom: 10px;
	color: red;
	font-size: inherit;
	text-decoration: underline;
}

.space-choice-item .space-close-btn,
.space-rule-item .space-close-btn,
.space-filter-item .space-close-btn,
.space-import-screen .space-close-btn{
	top: 5px;
	bottom: auto;
	font-size	: 30px;
	color: inherit;
	text-decoration: none;
}
/* CLOSE BUTTONS */

.space-collapse::before{
	content: "\f140";
	font: 400 20px/1 dashicons;
	speak: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.form_page_desc{
	margin: 10px 0px;
    width: 100%;
    padding: 10px 6px;
}



.list-header{
	border-bottom: #ddd solid 1px;
	margin: -10px -10px 0px -10px;
	padding: 10px;
	padding-right: 40px;
	min-height: 20px;
}

.list-content{
	margin-top: 10px;
	margin-bottom: 15px;
	padding-left: 10px;
	min-height: 20px;
}

.space-page-item .wp-editor-wrap{
	margin-bottom: 30px;
}


.space-filter-item .space-rule-grid{
	display: grid;
	grid-template-columns: 250px 200px;
	grid-gap: 20px;
}

.space-filter-item input[type=text].ui-autocomplete-input{
	width: 100%;
}

/* MODAL BOXES *
.space-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
}

.space-backdrop{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.space-modal-content{
	top: 10%;
	margin: 0 auto;
	position: relative;
	width: 70%;
	min-width: 300px;
	height: 60%;
	background: #fff;
	padding: 30px;
	overflow-y: scroll;
}

.space-modal-form{
	padding-top: 20px;
}
*/

.space-dropdown{
	margin-bottom: 10px;
}
.space-dropdown label{
	display: block;
}

/*
* META BOX FOR SURVEY TO LIST PAGES
*/

#survey-pages.postbox, #survey-pages.postbox .inside{
	padding: 0;
	margin: 0;
}
#survey-pages.postbox{
	background: transparent;
	border: none;
	box-shadow: none;
	margin-bottom: 20px;
}
#survey-pages.postbox .postbox-header,
#survey-pages.postbox h2.hndle.ui-sortable-handle,
#survey-pages.postbox button.handlediv{
	display: none;
}

/* SPACE BATCH PROCESS */
[data-behaviour~=space-batch]{
	margin: 20px auto;
}

[data-behaviour~=space-batch] .space-progress-container{ border: #333 solid 1px; }

[data-behaviour~=space-batch] .space-progress{
	height: 30px;
	background: #555;
	width: 0%;
}
[data-behaviour~=space-batch] button, [data-behaviour~=space-batch] .result{
	margin-top: 20px;
}
[data-behaviour~=space-batch] .result{ font-weight: bold; }
[data-behaviour~=space-batch] .logs-container{
	border: #ccc solid 1px;
	margin-top: 20px;
	padding: 10px;
}


[data-behaviour~=space-batch] button{
	background: #0085ba;
	box-shadow: 0 1px 0 #006799;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
	padding: 6px 14px;
	line-height: normal;
	font-size: 14px;
	vertical-align: middle;
	height: auto;
	margin-bottom: 4px;
	border: #006799 solid 1px;
	cursor: pointer;
	border-radius: 3px;
}

/* HIDE PREVIEW BUTTON */
body.post-type-space_survey #authordiv, body.post-type-space_survey #minor-publishing-actions{ display: none; }

.space-import-screen{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f1f1f1;
}

.space-import-screen .space-close-btn{
	top: 0px;
	right: 5px;
}
.space-import-screen form{
	background: #fff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 20%;
	padding: 10px 20px 20px;
	border: #ddd solid 1px;
	width: 400px;
}

.space-import-screen form .post-attributes-label{
	font-size: 24px;
}
