.space-slide{
	display: none;
}
.space-slide.active{
	display: block;
}

.space-question{
	margin-bottom: 30px;
}

.space-choices, .space-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.space-title.page-desc{
	margin-bottom: 30px;
}

.space-list-inline li{
	display: inline;
	margin-right: 10px;
}

.space-choice input{
	margin-right: 10px !important;
}